<div class="slider">
  <div class="btn next"></div>
  <div class="btn prev"></div>
  <div class="left-side">
    <div class="character-desc">
      <img
        class="logo"
        src="../../assets/images/pyromancer-logo.png"
        alt="Pyromancer logo"
      />
      <p class="desc">
        The Pyromancer has only one way to deal with her enemies: swift, hot
        destruction. Even her defense is offensive. She is a glass cannon who
        deals massive amounts of damage, turning her foes to ash.
      </p>
      <span class="weapon-desc">Weapon of choice: Fire and explosions</span>
      <img
        src="../../assets/images/hero-complexity.png"
        alt="Pyromancer Complexity"
      />
    </div>
  </div>
  <div class="right-side">
    <img src="../../assets/images/pyromancer.png" alt="Pyromancer">
  </div>
</div>
